* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

h1 {
	text-align: center;
	margin-bottom: 15px;
	margin-top: 15px;
	font-size: 175%;
}

#t1 {
	background-color: #FFCCCC;
}

#t2 {
	background-color: #A52A2A;
	color: #FFFFFF;
}

#t3 {
	background-color: #FFFFCC;
}

.content {
	margin: 5px;
	margin-top:  30px;
}

.title {
	position: absolute;
	right: 0;
	width: 100px;
	border: 1px solid black;
	border-top: none;
	border-right: none;
	text-align: center;
	font-weight: bold;
	font-size: 125%;
}

@media (min-width: 992px) {
  .col-lg-4{
    float: left;
    width: 33.33%;
    position: relative;
    border: 1px solid black;
    background-color: #808080;
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12{
  	border: 1px solid black;
  	float: left;
  	position: relative;
  	background-color: #808080;
 	margin-bottom: 10px;
  }
  .col-md-6{
    width: 50%;
  }
  .col-md-12{
    width: 100%;
  }
}

@media (max-width: 767px) {
  .col-sm-12{
    float: left;
    width: 100%;
    position: relative;
    border: 1px solid black;
    background-color: #808080;
    margin-bottom: 5px;
  }
}